@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondaryColor: #e8b125;
  --accent: #f8f8f0;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondaryColor);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
